body {
    margin: 0;
    box-sizing: border-box;
}

header {
    color: #4d4d4d;
    background-color: #F5D5C3;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header:first-child {
    padding: 4px;
    font-family: sans-serif;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    height: 100%;
}

header a {
    border: 2px solid black;
    width: fit-content;

}

.material-icons {
    border: 2px solid black;
    margin: 0 12px;
    color: #4d4d4d;
    width: 45px;
    font-size: 40px;
}

header .material-icons:hover {
    font-size: 50px;
}

