body{
    margin: 0;
    box-sizing: border-box;
}
header{
    color: #4d4d4d;
    background-color: #F5D5C3;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header:first-child{
    padding: 4px;
    font-family: sans-serif;
}
div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    height: 100%;
}
a{
    border: 2px solid black;
    width: fit-content;
}
.material-icons{
    border: 2px solid black;
    margin: 0 20px;
    color: #4d4d4d; 
    width: 50px;
    font-size: 40px;   
}
.material-icons:hover{
    font-size: 50px;
}