.container{
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    /* border: 2px solid black; */
}
.productCard{
    box-sizing: border-box;
    /* flex: 1; */
    /* height: fit-content; */
    height: 450px;
    width: 16vw;
    margin: 20px;
    margin-bottom: 28px;
    padding: 0;
    background-color: #FFDECB;
    border: 3px solid #ae521c;
    border-radius: 12px;
    cursor: pointer;
}
.imgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0;
    background-color: white;
    border-radius: 12px 12px 0 0;
    height: 200px;}

img{
    object-fit: contain;
    width: 90%;
    height: 70%;
}
.rest-div{
    height: 250px;
}
/* .productCard div :last-child{
    height: 50%;
} */
.productCard p{
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 1.7;
    padding: 8px;
    height: 100px;
    
}

.productCard hr{
    width: 80%;
    margin: 8px auto;
    
}
.productCard i{
    font-size: 38px;
    padding: 8px;
    margin: 12px 8px;
}
.productCard i:hover{
    border-radius:50% ;
    background-color: #F9F5EB;
    border: none;
    
}

